@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


body {
    /*Propriedades e valores*/
    background-color: rgb(189, 184, 194);
    color: rgb(255, 255, 255);
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;

}
h3{
    color: black;
    
}
h4{
    color: black;;
}
p{
    color: black;;
}
cite{
    color: black;;
}
img.emma {
    margin-left: 0%;
    border-radius: 5%;
   
}
UL{
    color: black;;
}
